html{
    font-zize:62.5%;
    height: 100%;
}
body{
    height: 100%;
}
.page{
    width: 95%;
    height: 100%;
    margin: 0 auto;
    background: #68cdd5;
}

.backspacecntn{
    position: absolute;
    margin-left: 1.6rem;
    margin-top: 1.6rem;
}
.backspace{
    max-width: 75%;
}
.grapelogocntn{
    height: 25%;
    line-height: 220%;
    text-align: center;
}
.grapelogo{
    vertical-align: middle;
    max-width: 50%;
}
.text {
    font-size: 1.4rem;
    font-family: "HiraginoSansGB";
    color: rgb(255, 255, 255);
    line-height: 1.807;
    width: 80%;
    margin: 0 auto;
}
.bottom{
    position: absolute;
    bottom: 15%;
    left: 0;
    right: 0;
}
.left,.right{
    width: 50%;
    line-height: 20rem;
    float:left;
    text-align: center;
}
.leftimg,.rightimg{
    vertical-align: bottom;
    max-width: 25%;
}

.
